---
import type { ComponentProps, HTMLAttributes } from 'astro/types';
import Link from '@components/Link/Link.astro';
import Card from './Card.astro';
import Image from 'astro/components/Image.astro';

interface Props extends ComponentProps<typeof Card> {
  logo: string | ImageMetadata;
  logoAltText?: string; // alt text for the logo image
  place?: string;
  link?: string; // a place link can be provided only if place is defined
  roleTitle: string;
  period: number | `${number} - ${number}` | `${number} - Present`;
  target?: HTMLAttributes<'a'>['target'];
}

const {
  logo,
  place,
  roleTitle,
  logoAltText,
  period,
  link,
  target = '_blank',
  ...props
} = Astro.props;

const Wrapper = link ? Link : Fragment;
const wrapperProps = link
  ? {
      href: link,
      target,
      rel: 'noopener noreferrer',
      variant: 'unstyled',
    }
  : {};

// TODO ADD IMAGE FOR BACKGROUND OF THE YEAR SQUARE OR BACKGROUDN IMAGE FOR THE CARD
---

<Wrapper {...props} {...wrapperProps}>
  <Card class='p-6'>
    <div class='timeline_card'>
      <div
        class={`${typeof logo === 'string' ? 'bg-danger' : ''} flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-xl [grid-area:logo] md:h-24 md:w-24`}
      >
        {
          typeof logo === 'string' ? (
            <span class='text-4xl font-bold text-white md:text-5xl'>
              {logo}
            </span>
          ) : (
            <Image src={logo} alt={logoAltText || 'Logo'} /> // TODO improve this image with more props
          )
        }
      </div>
      <header class='self-center [grid-area:title]'>
        <h3 class='text-secondary text-xl font-bold'>
          {roleTitle}
        </h3>
        <p class='text-sm italic'>{period}</p>
      </header>
      <section>
        {
          place ? (
            <p class='bg-accent3 border-comic border-secondary mb-3 px-2 py-1 font-semibold whitespace-break-spaces [grid-area:place] md:w-fit'>
              {place}
            </p>
          ) : null
        }
        <footer class='[grid-area:content]'>
          <slot />
        </footer>
      </section>
    </div>
  </Card>
</Wrapper>

<style>
  .timeline_card {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'logo title'
      'placeAndContent placeAndContent';
  }

  @media (min-width: 768px) {
    .timeline_card {
      row-gap: 0;
      grid-template-areas:
        'logo title'
        'logo placeAndContent';
    }
  }

  section {
    grid-area: placeAndContent;
    display: grid;
    grid-template-areas: 'place place' 'content content';
  }

  @media (min-width: 768px) {
    section {
      margin-top: 0.5rem;
      grid-template-areas:
        'place'
        'content';
    }
  }
</style>
