---
import HolyGrailLayout from '@layouts/HolyGrailLayout/HolyGrailLayout.astro';
import PostCard from '@components/Card/PostCard.astro';
import BriefPostCard from '@components/Card/BriefPostCard.astro';
import { getCollection } from 'astro:content';
import { type ImageMetadata } from 'astro';
import { matchImageFromGlobImport } from '@utils/images/images';
import { serverLogger } from '@utils/logs/logger';
import type { Image as BannerImage } from '@db/features/images/images.model';

const postsEntries = await getCollection('posts');

const filteredRelatedPosts = postsEntries.filter(
  (entry) => entry.data.status === 'published',
);

const processedPosts = await Promise.all(
  filteredRelatedPosts.map(async (post) => {
    let processedImage: ImageMetadata | undefined;
    const imageToFindPath = `${post.data.bannerImagePath}`;
    if (imageToFindPath) {
      const images = import.meta.glob<{ default: ImageMetadata }>(
        `/src/assets/images/posts/**/*.{jpeg,jpg,png,gif,webp,svg}`,
      );
      processedImage = await matchImageFromGlobImport(
        images,
        imageToFindPath,
        serverLogger,
      );
    }

    const processedPost = {
      ...post,
      processedBannerImage: processedImage ?? null,
    };
    return processedPost;
  }),
);

const bannerImage: BannerImage | undefined = {
  alt: 'Banner image for posts section',
  path: '/assets/images/posts/banner.jpg',
};
---

<HolyGrailLayout
  seoProps={{
    description:
      "Welcome to DuckyCoding's blog: web development articles and guides at your fingertips.",
    extend: {
      meta: [
        {
          name: 'keywords',
          content: 'DuckyCoding, web development, astro, fullstack',
        },
      ],
    },
  }}
>
  <h1
    class='decoration-accent mb-8 text-center text-4xl font-extrabold underline underline-offset-4'
  >
    Welcome to my blog
  </h1>
  <p class='mb-8 text-center text-lg'>
    Here you will find articles and guides about web development and coding
    concepts.
    <br />
    Enjoy!
  </p>
  {
    processedPosts.length > 0 ? (
      <div class='grid-layout gap-8'>
        <section class='[grid-area:latest]'>
          <h2 class='border-comic border-secondary from-accent-200 to-accent2-200 shadow-comic mb-4 rounded-xl border-4 bg-gradient-to-br px-4 py-2 text-4xl font-extrabold'>
            Latest posts
          </h2>
          <ul class='latest-grid-layout grid items-baseline gap-8'>
            {processedPosts.map((post, i) => {
              return (
                <>
                  <li class={`${i === 0 ? '[grid-area:last-post]' : ''}`}>
                    <PostCard
                      class='block h-full'
                      post={post}
                      bannerImage={post?.processedBannerImage || null}
                      loading={i < 4 ? 'eager' : 'lazy'}
                      imageAlt={bannerImage?.alt}
                    />
                  </li>
                  <li class={`${i === 0 ? '' : ''}`}>
                    <PostCard
                      class='block h-full'
                      post={post}
                      bannerImage={post?.processedBannerImage || null}
                      loading={i < 4 ? 'eager' : 'lazy'}
                      imageAlt={bannerImage?.alt}
                    />
                  </li>
                  <li class={`${i === 0 ? '' : ''}`}>
                    <PostCard
                      class='block h-full'
                      post={post}
                      bannerImage={post?.processedBannerImage || null}
                      loading={i < 4 ? 'eager' : 'lazy'}
                      imageAlt={bannerImage?.alt}
                    />
                  </li>
                  <li class={`${i === 0 ? '' : ''}`}>
                    <PostCard
                      class='block h-full'
                      post={post}
                      bannerImage={post?.processedBannerImage || null}
                      loading={i < 4 ? 'eager' : 'lazy'}
                      imageAlt={bannerImage?.alt}
                    />
                  </li>
                  <li class={`${i === 0 ? '' : ''}`}>
                    <PostCard
                      class='block h-full'
                      post={post}
                      bannerImage={post?.processedBannerImage || null}
                      loading={i < 4 ? 'eager' : 'lazy'}
                      imageAlt={bannerImage?.alt}
                    />
                  </li>
                </>
              );
            })}
          </ul>
        </section>
        <section class='trending'>
          <h2 class='border-comic border-secondary shadow-comic from-accent-100 to-accent3-100 mb-4 rounded-xl bg-gradient-to-br px-4 py-2 text-4xl font-extrabold'>
            Trending
          </h2>
          <ol class='flex flex-col gap-4'>
            {processedPosts.slice(0, 3).map((post) => (
              <li>
                <BriefPostCard post={post}>{post.data.title}</BriefPostCard>
              </li>
            ))}
          </ol>
        </section>
      </div>
    ) : (
      <>
        <h2 class='mb-4 text-center text-2xl font-extrabold text-balance md:text-left'>
          <span class='block'>No content has been published yet :'(</span>
          <span class='block'>I'm working hard on it!</span>
        </h2>
        <h3 class='text-center text-xl font-extrabold md:text-left'>
          Check again soon! 🦆
        </h3>
      </>
    )
  }
</HolyGrailLayout>

<style>
  .grid-layout {
    display: grid;

    grid-template-areas: 'latest trending';

    grid-template-columns: minmax(0, 2fr) minmax(0, 0.75fr);
    grid-template-rows: auto 1fr;
  }
  .latest-grid-layout {
    display: grid;
    grid-template-areas:
      'last-post'
      'latest';
  }
  @media (width >= 768px) {
    .latest-grid-layout {
      grid-template-areas:
        'last-post last-post'
        'latest latest';

      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: auto 1fr;
    }
  }

  @media (max-width: 976px) {
    .grid-layout {
      grid-template-columns: 1fr;
      grid-template-areas:
        'latest'
        'trending';
    }
    /* .trending {
      display: none;
    } */
  }
</style>
